body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
	color: #363639;
	padding: 50px 50px 50px 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

h1, h2, h3, h4, h5 {
	text-decoration: none;
	font-weight: normal;
}

h1 {
	display: inline-block;
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
	height: 100px;
	font-size: 40px;
	line-height: 0.9em;
	background: url(/static/OOO100wide.png) no-repeat 0 0;
}

h1 a {
	text-decoration: none;
	color: #363639;
	display: block;
	text-indent: 110px;
}

h2 {
	border: 0;
	margin: 0;
	padding-bottom: 25px;
}

h4.title {
	display: inline-block;
	font-size: 20px;
	padding: 0;
	margin: 0px 0px 10px 0px;
}

#description {
	font-size: 13px;
	padding: 0;
	margin: 0;
}

span.note {
	font-size: 13px;
	margin: 0;
	padding: 0px 0px 0px 5px;
	border-style: dotted;
	border-width: 0px 0px 0px 1px;
	border-color: #363639;
}

#slogan {
	display: block;
	font-size: 15px;
	text-indent: 115px;
	padding-bottom: 25px;
}

#login {
	float: right;
	font-size: 15px;
	text-align: right;
}

#navigation {
	padding: 0px 0px 10px 0px;
}

#navigation ul, #sub_navigation ul {
	margin-left: 0;
	padding: 0px 0px 0px 0px;
}

#navigation li, #sub_navigation li {
	display: inline;
	list-style-type: none;
	white-space: nowrap;
	padding: 0px;
}

#navigation a, #sub_navigation a {
	margin-right: 25px;
	position: relative;
	font-size: 30px;
	border-width: 5px;
	border-color: #363639;
}

#navigation a:link, #navigation a:visited {
	color: #363639;
	text-decoration: none;
}

#sub_navigation {
	padding: 0px 0px 0px 0px;
}

#sub_navigation a {
	text-decoration: none;
	color: #363639;
	font-size: 20px;
	border-width: 5px;
	border-color: #363639;
}

#sub_navigation a:hover {
	border-bottom-style: solid;
}

a.here {
	border-bottom-style: solid;
}

a.there:hover {
	border-bottom-style: solid;
}

#content {
	display: block;
	margin-top: 40px;
	margin-bottom: 10px;
}

label {
	display: block;
	font-size: 15px;
}

div.box .field {
	width: 100%;
	margin-bottom: 10px;
}

textarea {
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

input {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

button {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

div.box {
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 10px 0px 10px #8f807d;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div.datelist {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

table.datepopup {
	border-style: dotted;
	border-width: 1px;
	box-shadow: 10px 0px 10px #8f807d;
	border-color: 363639;
}

div.date {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

img.datepicker {
	vertical-align: text-top;
}

#credits {
	float: right;
	margin: 0px 0px 5px 0px;
}

#credits span {
	font-size: 15px;
}

#functions {
	display: block;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

span.inline_functions {
	float: right;
	position: relative;
}

button.inline_functions {
	margin-left: 5px;
}

.inline_functions {
	padding: 0px;
	margin: 0px;
	font-size: 11px;
	vertical-align: bottom;
}

form {
	padding: 0px;
	margin: 0px;
}

ul.inline_functions, li.inline_functions, button.inline_functions {
	list-style: none;
	display: inline;
}

#footer {
	padding-top: 20px;
	display: block;
	font-size: 10px;
	text-align: right;
}

.badge {
	z-index: 100;
	background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
	background: -moz-radial-gradient( 5px -9px, circle, white 8%, red 26px );
	background: -ms-radial-gradient( 5px -9px, circle, white 8%, red 26px );
	background: -o-radial-gradient( 5px -9px, circle, white 8%, red 26px );
	background: -webkit-radial-gradient( 5px -9px, circle, white 8%, red 26px );
	background-color: red;
	border: 2px solid white;
	border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
	box-shadow: 10px 0px 10px #8f807d;
	color: white;
	font: bold 15px/13px 'Open Sans', sans-serif;
	height: 16px;
	padding: 4px 3px 0 3px;
	text-align: center;
	min-width: 14px;
	position: relative;
	display: inline-block;
	position: absolute;
}

.topbadge {
	top: -5px;
	right: -15px;
}

.rightbadge {
	right: -width;
	top: -2px;
	left: auto;
}

.faded {
	opacity: 0.5;
}

.notfaded {
	opacity: 1;
}
