<html>
	<head>
		<title>{{site_name}}</title>
		<link type="text/css" rel="stylesheet" href="../static/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<body>
		<div id="login">
			<a href="{{ log_in_or_out_url }}">{{ log_in_or_out_text }}</a>{% if user_email %}&nbsp;{{ user_email }}{% endif %}
		</div>
		<div id="header">
			<h1><a href="/">{{site_name}}
			<div id="slogan">
				{{site_slogan}}
			</div></a></h1>
		</div>
		{% block navigation %}{% endblock %}
		<div id="content" >
			{% if user_email %}
			{% block content %}{% endblock %}
			{% else %}
			<div class="box">
				{{site_name}} is free software for communities organising intermittent private <em>Events</em> amongst personal lists of e-mail <em>Contacts</em>.
				<br>
				<br>
				{{site_name}} helps hosts schedule only those dates that can be attended by a required and confirmed number of regular guests.
				<br>
				<br>
				Please <a href="{{ log_in_or_out_url }}">{{ log_in_or_out_text }}</a> to start using {{site_name}}
			</div>
			{% endif %}
		</div>
		<div id="footer">
			{{site_name}} development: <a href="http://github.com/edburton/OpenOrgs.org">github.com/edburton/OpenOrgs.org</a>
		</div>
	</body>
</html>