{% extends "_base.html" %}
{% block navigation %}
<ul id="navigation">
	<li>
		<a class="there" href="/">Events{% if event_alerts %}<span class="badge topbadge">{{ event_alerts }}</span>{% endif %}</a>
	</li>
	<li>
		<a class="here" href="/contacts">Contacts{% if contact_requests %}<span class="badge topbadge">{{ contact_requests }}</span>{% endif %}</a>
	</li>
</ul>
<ul id="sub_navigation">
	<li>
		<a class="here" href="/contacts/add">+ Add Contacts</a>
	</li>
</ul>
{% endblock %}
{% block content %}
<div class="box" >
	<form method="post" >
		<label for="emails">Enter Email Addresses separated by spaces or newlines</label>
		<textarea rows="10" class="field" name="emails" id="emails"></textarea>
		<div id="functions" >
			<button type="submit" name="save" value="save">
				Add Contacts
			</button>
		</div>
	</form>
</div>
{% endblock %}