{% block editevent %} <script src="../static/datetimepicker_css.js"></script>
<div class="box" >
	<form method="post" >
		<label for="title">Event Title</label>
		<input class="field" type="text" name="title" required="required" value="{% if event %}{{ event.title }}{% endif %}">
		<label for="description">Description</label>
		<textarea class="field" name="description" >{% if event %}{{ event.description }}{% endif %}</textarea>
		<label for="invitation">Ticket</label>
		<textarea class="field" name="invitation" >{% if event %}{{ event.invitation }}{% endif %}</textarea>
		<div class="datelist">
			<div class="box" >
				<span class="inline_functions" >
					<button class="inline_functions" type="submit" name="addnewdate" value="addnewdate">
						Add
					</button> </span>
				<label for="newdate">Date</label>
				<input type="text" name="newdate" id="newdate" maxlength="25" size="25"/ value="" >
				<img class="datepicker" src="../static/images2/cal.png" onclick="javascript:NewCssCal ('newdate','ddMMyyyy','dropdown',true,'24',false,'future')"  style="cursor:pointer"/>
			</div>
			{% if dates|length %}
			{% for date in dates %}
			<div class="box" >
				<div class="date">
					<span class="inline_functions" >
						<button class="inline_functions" type="submit" name="deletethisdate" value="{{ date.key }}">
							Remove
						</button> </span>
					{{ date.date }}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<div id="functions" >
			<button type="submit" name="save" value="save">
				Save
			</button>
		</div>
	</form>
</div>
{% endblock %}