{% extends "_base.html" %}
{% block navigation %}
<ul id="navigation">
	<li>
		<a class="here" href="/">Events{% if event_alerts %}<span class="badge topbadge">{{ event_alerts }}</span>{% endif %}</a>
	</li>
	<li>
		<a class="there" href="/contacts">Contacts{% if contact_requests %}<span class="badge topbadge">{{ contact_requests }}</span>{% endif %}</a>
	</li>
</ul>
<ul id="sub_navigation">
	<li>
		<a class="there" href="/events/add">+ Add Event</a>
	</li>
	<li>
		<a class="there" href="/events/manage">+ Manage Events</a>
	</li>
</ul>
{% endblock %}
{% block content %}
{% if eventdatestates %}
<form method="post">
	{% for eventdatestate in eventdatestates %}
	<div class="box">
		<div class="date">
			{% if eventdatestate.state == "suggestion" %}
			<span class="inline_functions">
				<ul class="inline_functions">
					<li class="inline_functions">
						<input id = "{{ eventdatestate.date.key }}_available" name = "{{ eventdatestate.date.key }}_available" value="available" type="radio"  onclick="this.form.submit();"/>
						<label class="inline_functions" for="{{ eventdatestate.date.key }}_available">Available</label>
					</li>
					<li class="inline_functions">
						<input id = "{{ eventdatestate.date.key }}_unavailable" name = "{{ eventdatestate.date.key }}_available" value="available" type="radio"  onclick="this.form.submit();"/>
						<label class="inline_functions" for="{{ eventdatestate.date.key }}_unavailable">Unavailable</label>
					</li>
				</ul><span class="badge rightbadge">&#63;</span></span>{% endif %}
			{% if eventdatestate.state == "unconfirmed" %}
			<span class="inline_functions">
				<ul class="inline_functions">
					<li class="inline_functions">
						<button class="inline_functions" type="submit" name="confirm" value="{{ eventdatestate.date.key }}">
							Confirm
						</button>
					</li>
				</ul> </span>{% endif %}
			{% if eventdatestate.state == "confirmed" %}
			<span class="inline_functions">
				<ul class="inline_functions">
					<li class="inline_functions">
						<button class="inline_functions" type="submit" name="unconfirm" value="{{ eventdatestate.date.key }}">
							Cancel
						</button>
					</li>
				</ul> </span>{% endif %} <span class="badge leftbadge {{ eventdatestate.state }}">{{ eventdatestate.state }}</span>
			{{ eventdatestate.date.date }}
			<span class="note">{{ eventdatestate.event.title }}</span>
		</div>
	</div>
	{% endfor %}
</ form>
{% else %}
<div class="box">
	You have no upcoming Event Dates
</div>
{% endif %}
{% endblock %}
