{% extends "_base.html" %}
{% block navigation %}
<ul id="navigation">
	<li>
		<a class="here" href="/">Events</a>
	</li>
	<li>
		<a class="there" href="/contacts">Contacts</a>
	</li>
</ul>
<ul id="sub_navigation">
	<li>
		<a class="there" href="/events/add">+ Add Event</a>
	</li>
	<li>
		<a class="there" href="/events/manage">+ Manage Events</a>
	</li>
</ul>
{% endblock %}
{% block content %}

{% if datesandevents %}
{% for datesandevent in datesandevents %}
<div class="box" >
	<div class="date">
		<span class="inline_functions">Available?
			<ul class="inline_functions">
				<li class="inline_functions">
					<input name="{{ datesandevent.date.key }}" type="radio" />
					Yes
				</li>
				<li class="inline_functions">
					<input name="{{ datesandevent.date.key }}" type="radio" />
					No
				</li>
			</ul> </span>
		{{ datesandevent.date.date }}
		<span class="note">{{ datesandevent.event.title }}</span>
	</div>
</div>
{% endfor %}
{% else %}
<div class="box">
	List of event dates goes here
</div>
{% endif %}

{% endblock %}
