{% extends "_base.html" %}
{% block navigation %}
<ul id="navigation">
	<li>
		<a class="here" href="/">Events</a>
	</li>
	<li>
		<a class="there" href="/contacts">Contacts</a>
	</li>
</ul>
<ul id="sub_navigation">
	<li>
		<a class="there" href="/events/add">+ Add Event</a>
	</li>
	<li>
		<a class="here" href="/events/manage">+ Manage Events</a>
	</li>
</ul>
{% endblock %}
{% block content %}
{% if events|length %}
{% for event in events %}
<div class="box" >
	<div id="event">
		<h4 class="title">{{ event.title }}</h4>
		<p id="description">
			{% autoescape off %}{{ event.description|linebreaksbr }}{% endautoescape %}
		</p>
		<div id="functions" >
			<form method="post">
				<button type="submit" name="edit" value="{{ event.key }}">
					Edit
				</button>
				<button type="submit" name="delete" value="{{ event.key }}">
					Delete
				</button>
			</form>
		</div>
	</div>
</div>
{% endfor %}
{% else %}
<div class="box">
	You have no Events
	<br>
	<br>
	Would you like to <a href="/events/add">Add an Event</a>?
</div>
{% endif %}
{% endblock %}