{% extends "_base.html" %}
{% block navigation %}
<ul id="navigation">
	<li>
		<a class="here" href="/">Events</a>
	</li>
	<li>
		<a class="there" href="/contacts">Contacts</a>
	</li>
</ul>
<ul id="sub_navigation">
	<li>
		<a class="there" href="/events/add">+ Add Event</a>
	</li>
	<li>
		<a class="here" href="/events/manage">+ Manage Events</a>
	</li>
</ul>
{% endblock %}
{% block content %}
{% if events|length %}
{% for event in events %}
<div class="box" >
	<div id="functions" >
		<form>
			<input type="submit" value="Edit">
			<input type="submit" value="Delete">
		</form>
	</div>
	<div id="event">
		<h4 class="title">{{ event.title }}</h4>
		<p id="description">
			{{ event.description }}
		</p>
	</div>
	<div id="credits">
		<span>{{ user_email }}</span>
	</div>
</div>
{% endfor %}
{% else %}
<div class="box">
	You have no Events
	<br>
	<br>
	Would you like to <a href="/events/add">Add an Event</a>?
</div>
{% endif %}
{% endblock %}